body{
    font-family: 'Raleway', sans-serif;
    padding: 0%;
    margin: 0%;
    background-color: white;
    background: url(Images/cool-background-5-1.png) right top no-repeat;
}
header{
    position: sticky;
    position: -webkit-sticky;
    top: 0%;
    background-color: white;
    height: 5%;
    padding: 1%;
    margin: 0%;
}
header a{
    text-decoration: none;
    color: cornflowerblue;
}
header a:visited{
    color: cornflowerblue;
}
#navbar{
    padding: 0%;
    margin: 0%;
    margin-top: 0.7%;
}
#logo{
    padding: 0%;
    font-size: 30px;
}
#logo-div{
    display: inline;
    height: 100%;
    padding: 1.5% 1% 1.5% 1.5%;
    margin: 0%;
}
#logo-div:hover{
    background-color: rgba(229,229,229,255); 
    cursor: pointer;
}
#logo-line{
    display: inline;
    width: 70%;
    padding: 0%;
    margin: 0% 0% 0% -0.3%;
}
#about{
    padding: 0%;
    font-size: 20px;
}
#about-div{
    display: inline;
    padding: 1.5% 1% 1.5% 1%;
    height: 100%;
    margin-left: -0.3%;

}
#about-div:hover{
    background-color: rgba(229,229,229,255); 
    cursor: pointer;
}
#contact{
    padding: 0%;
    font-size: 20px;
}
#contact-div{
    display: inline;
    padding: 1.5% 1% 1.5% 1%;
    height: 100%;
    margin-left: -0.3%;

}
#contact-div:hover{
    background-color: rgba(229,229,229,255); 
    cursor: pointer;
}
#projects{
    padding: 0%;
    font-size: 20px;
}
#projects-div{
    display: inline;
    padding: 1.5% 1% 1.5% 1%;
    height: 100%;
    margin-left: -0.3%;

}
#projects-div:hover{
    background-color: rgba(229,229,229,255); 
    cursor: pointer;
}
#resume{
    padding: 0%;
    font-size: 20px;
}
#resume-div{
    display: inline;
    padding: 1.5% 1% 1.5% 1%;
    height: 100%;
    margin-left: -0.3%;

}
#resume-div:hover{
    background-color: rgba(229,229,229,255); 
    cursor: pointer;
}
#home-div{
    margin-top: 15%;
    text-align: center;
    height: 100%;
    padding-bottom: 2.5%;
}
#home-hi{
    font-size: 25px;
}
#home-job{
    font-size: 25px;
}
#projects-main-div{
    margin-top: 22%;
}
#projects-title{
    display: flex;
    flex-direction: row;
    color: cornflowerblue;
}
#projects-title:before, #projects-title:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
#projects-title-div{
    margin: 0% 5% 0% 5%;
}
#projects-title:before{
    margin-right: 10px
}
#projects-title:after{
    margin-left: 10px
}
#projects-box-div{
    display: flex;
    flex-wrap: wrap;
    padding: 1% 5% 1% 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.projects-boxs{
    width: 20%;
    height: 200px;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    background-color: rgba(244,244,244,255);
}
#about-main-div{
    padding: 1% 2% 1% 2%;
    margin: 8% 5% 1% 5%;
    border-radius: 10px;
    background-color: rgba(244,244,244,255);
    height: 300px;
}
#about-title{
    text-align: center;
    padding: 0% 0% 0% 1%;
}
#about-info{
    text-align: center;
    padding: 1%;
}
#resume-title{
    text-align: center;
    padding: 1%;
}
#contact-main-div{
    text-align: center;
    margin: 1% 5% 1% 5%;
    background-color: rgba(244,244,244,255);
    border-radius: 10px;
    padding: 1%;
}
